.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.flex-down {
  flex-direction: column;
}

.volume {
  width: 150px;
  margin: 20px;
}


input {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 35%;
  height: 25px;
border-radius: 10px;
  border: 0px;
}

.aReview {
  margin-top: 15px;
  padding: 5px;
  width: 25%;
}

.userReviews {
  width: 75%;
  margin-left: 10px;
}

#submitB {
  width: 100%;
}

#reviewTitle, #reviewRating {
  width: 49.4%;
}

#reviewRating {
  margin-right: 0px;
}

.reviewDesc {
  width: 100%;
  justify-content: space-between;
}

textarea {
  font-family: "Plus Jakarta Sans", sans-serif;
  height:400px;
  resize: none;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 8px;
  border: 10px;
}

button {
  font-family: "Plus Jakarta Sans", sans-serif;
  border-radius: 50px;
  height: 25px;
  border: 0px;
}

h1 {
  margin-bottom: 0px;
  margin-top:0px;
  font-family: "Cute Font", cursive;
  font-size: 100px;
  margin-right: 100px;
}

p {
  margin-bottom: 5px;
  margin-top: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
}


#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  margin-left: 10px;
}

#searchBar {
  margin-left: 10px;
}

img.icon {
  width: 50px;
  height:50px;
}

body{
  color:pink;
  background-color:#ea6a91;
}