.container {
  display: flex;
  flex-wrap: wrap;
}

.flex-down {
  flex-direction: column;
}

.volume {
  width: 150px;
  margin: 20px;
}

img {
  width: 150px;
}

input {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 200px;
}

textarea {
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 410px;
  height:400px;
  resize: none;
  margin-bottom: 5px;
}

button {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
  margin-bottom: 0px;
  margin-top:0px;
  font-family: "Cute Font", cursive;
  font-size: 60px;
}

p {
  margin-bottom: 5px;
  margin-top: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.corner {
  position: fixed;
  margin-top: 20px;
  margin-right: 10px;
}

#submitB {
  width: 410px;
}

.aReview {
margin-top: 15px;
  border: dashed 1px gray;
  width: 400px;
  padding: 5px;
}